<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Signup Page</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>

    <div class="container">
        <div class="form-container">
            <form id="loginForm" class="login-form" method="post" action="/login">
                <h2>Login</h2>
                <input type="text" name="username" id="loginUsername" placeholder="Username" required>
                <input type="password" name="password" id="loginPassword" placeholder="Password" required>
                <button>Login</button>
                <br>


                <p class="message">Not registered? <a href="/signup">Create an account</a></p>
            </form>

        </div>
    </div>


</body>

</html>