<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="container">
        <div class="form-container">
            <form id="signupForm" class="signup-form" method="post" action="/signup">
                <h2>Sign Up</h2>
                <input type="text" id="signupUsername" placeholder="Username" name="username" required>
                <input type="password" id="signupPassword" placeholder="Password" name="password" required>
                <button>Sign Up</button>

                <!-- <p class="message">Already registered? <a href="index.ejs">Login</a></p> -->
            </form>
            <!-- <form action="/login" method="get"> -->
            <p class="message"><a href="/login">Already registered?</a></p>
            <!-- </form> -->
        </div>
    </div>



</body>

</html>